@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 99%; /* #FCFCFC */
    --foreground: 240 10% 3.9%; /* #2A2A3A */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 240 10% 3.9%; /* #2A2A3A */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 240 10% 3.9%; /* #2A2A3A */
    --primary: 142.1 76.2% 36.3%; /* #63C550 */
    --primary-foreground: 355.7 100% 97.3%; /* #F8D0D0 */
    --secondary: 240 4.8% 95.9%; /* #D9D9E2 */
    --secondary-foreground: 240 5.9% 10%; /* #1A1A1A */
    --muted: 240 4.8% 95.9%; /* #D9D9E2 */
    --muted-foreground: 240 3.8% 46.1%; /* #8A8A8A */
    --accent: 240 4.8% 95.9%; /* #D9D9E2 */
    --accent-foreground: 240 5.9% 10%; /* #1A1A1A */
    --destructive: 3 59% 52%; /* #CC433B */
    --destructive-foreground: 0 0% 98%; /* #F8F8F8 */
    --success: 94 42% 48%; /* #73AD46 */
    --success-foreground: 0 0% 98%; /* #F8F8F8 */
    --border: 240 5.9% 90%; /* #A1A1B3 */
    --input: 240 5.9% 90%; /* #A1A1B3 */
    --ring: 142.1 76.2% 36.3%; /* #63C550 */
    --radius: 0.5rem;
    --chart-1: 12 76% 61%; /* #E36C4A */
    --chart-2: 173 58% 39%; /* #3F9C6C */
    --chart-3: 197 37% 24%; /* #5E7C8D */
    --chart-4: 43 74% 66%; /* #FF9B4F */
    --chart-5: 27 87% 67%; /* #FF6F32 */
    --chart-6: 220 70% 50%; /* #5A92FF */
    --sidebar-background: 0 0% 98%; /* #F7F7F7 */
    --sidebar-foreground: 240 5.3% 26.1%; /* #4A4A66 */
    --sidebar-primary: 240 5.9% 10%; /* #1A1A1A */
    --sidebar-primary-foreground: 0 0% 98%; /* #F8F8F8 */
    --sidebar-accent: 240 4.8% 95.9%; /* #D9D9E2 */
    --sidebar-accent-foreground: 240 5.9% 10%; /* #1A1A1A */
    --sidebar-border: 220 13% 91%; /* #B2C3E2 */
    --sidebar-ring: 217.2 91.2% 59.8%; /* #FFDC65 */
  }

  .dark {
    --background: 20 14.3% 4.1%; /* #2C2A29 */
    --foreground: 0 0% 95%; /* #F2F2F2 */
    --card: 24 9.8% 10%; /* #3F2A1D */
    --card-foreground: 0 0% 95%; /* #F2F2F2 */
    --popover: 0 0% 9%; /* #1A1A1A */
    --popover-foreground: 0 0% 95%; /* #F2F2F2 */
    --primary: 142.1 70.6% 45.3%; /* #4BB43D */
    --primary-foreground: 144.9 80.4% 10%; /* #3F4C2C */
    --secondary: 240 3.7% 15.9%; /* #262C38 */
    --secondary-foreground: 0 0% 98%; /* #F8F8F8 */
    --muted: 0 0% 15%; /* #262626 */
    --muted-foreground: 240 5% 64.9%; /* #A5A5A5 */
    --accent: 12 6.5% 15.1%; /* #4B3D2A */
    --accent-foreground: 0 0% 98%; /* #F8F8F8 */
    --destructive: 3 59% 52%; /* #CC433B */
    --destructive-foreground: 0 85.7% 97.3%; /* #F7F7F7 */
    --border: 240 3.7% 15.9%; /* #262C38 */
    --input: 240 3.7% 15.9%; /* #262C38 */
    --ring: 142.4 71.8% 29.2%; /* #6D9D35 */
    /* --chart-1: 220 70% 50%; #5A92FF */
    /* --chart-2: 160 60% 45%; #5A9A72 */
    /* --chart-3: 30 80% 55%; #D77C3E */
    /* --chart-4: 280 65% 60%; #9E6CBF */
    /* --chart-5: 340 75% 55%; #F362A3 */
    --sidebar-background: 240 5.9% 10%; /* #1A1A1A */
    --sidebar-foreground: 240 4.8% 95.9%; /* #D9D9E2 */
    --sidebar-primary: 224.3 76.3% 48%; /* #4D8FB0 */
    --sidebar-primary-foreground: 0 0% 100%; /* #FFFFFF */
    --sidebar-accent: 240 3.7% 15.9%; /* #262C38 */
    --sidebar-accent-foreground: 240 4.8% 95.9%; /* #D9D9E2 */
    --sidebar-border: 240 3.7% 15.9%; /* #262C38 */
    --sidebar-ring: 217.2 91.2% 59.8%; /* #FFDC65 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground tracking-wide sm:tracking-wider;
  }
}

.custom-month-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
